
/****************/
/*    GENERAL   */
/****************/

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-bottom: 20px;
}

.footnote {
  font-size: 11px;
}

.source-desc {
  font-size: 11px;
  color: #ABB0B3;
  margin-top: 20px;
}

/****************/
/*    HEADER    */
/****************/

.jumbotron {
  background: url(../img/cs171-hw4-bg.png) no-repeat; 
  background-size: 100%;
  padding-top: 80px;
  border-bottom: 1px solid #AAA;
}

.jumbotron h1 {
  margin-top: 20px;
  font-weight: 300;
  color: #5A3030;
  margin-bottom: 20px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 10px 15px;
}


/****************/
/*    CHARTS    */
/****************/

.chart-area {
  margin-bottom: 40px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
}

.chart-title {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.area, .bar {
  fill: #B99680;
}

.area.above {
  fill: #b11313;
}

.threshold-indicator {
  stroke: #b11313;
  stroke-dasharray: 8, 4;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus-date {
  fill: #888;
  font-size: 11px;
}

#bar-chart .x-axis text {
  font-size: 12px;
}

.bar-label {
  font-size: 11px;
  fill: #888;
}
